@import "../../app.scss";
.services {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  height: 100%;

  
  @include mobile {
    padding: 1rem;
  }

  .titleContainer {
    flex: 1;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
   
  
    @include mobile {
      width: 100%;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 5rem;

      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      img {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        object-fit: cover;

        @include mobile {
          width: 200px;
          height: 50px;
          margin-top: 2rem;
        }
      }

      h1 {
        font-size: 60px;
        font-weight: 100;

        @include mobile {
          font-size: 36px;
        }
      }

      button {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        background-color: orange;
        border: none;
        font-size: 24px;
        cursor: pointer;

        @include mobile {
          font-size: 16px;
          width: 150px;
          height: 50px;
        }
      }
    }
  }


  .listContainer {
    flex: 2;
      display: flex;
      align-items: center;
      overflow-x: scroll;
      white-space: nowrap;
      width: 99%;
      scrollbar-width:none;
     
     
      img{
      width: 180px;
       padding:0 1rem;
      }
   
    @include mobile {
      flex-direction: column;
      width: 100%;
    }

   
  }
  .listContainer::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }


  .educationContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    .ecflexbox {
      text-align: center;
    
      h1 {
        color: orange;
        font-size: 24px;
        margin-bottom: 10px;
      }
    
      div {
        font-size: 16px;
        line-height: 1.5;
        color: #fff;
      }
    }
    
    .ecflexbox2 {
      margin-top: 20px;
      text-align: center;
    
      h1 {
        color: orange;
        font-size: 24px;
        margin-bottom: 10px;
      }
    
      div {
        font-size: 16px;
        line-height: 1.5;
        color: #fff;
      }
    }
  }

}
