@import "../../app.scss";



.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;



  @include mobile{
    margin-top: 7rem;
  }
  .skills{
    font-weight: 900;
    font-size: 5rem;
    letter-spacing: 2px;
    margin-top: 3rem;
    color: orange;
    @include mobile{
      font-size: 3.5rem;
    }
  }



  .slidingSkills{
    padding:3rem 5rem;
    font-size: 3rem;
    white-space: nowrap;
    letter-spacing:6px;
    font-weight: 600;
    @include mobile{
      font-size: 2rem;
      letter-spacing:3px;
    }
  }


  .slidingTextContainer {
    margin-top: 1rem;
    white-space: nowrap;
    font-weight: bold;
    
  
    img{
      width: 180px;
      padding: 0 1rem;
      @include mobile{
        width: 150px;
      }
    }
  }
}


