@import "../../app.scss";

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;

  @include mobile {
    margin-top: 7rem;
  }
  .skills {
    font-weight: 900;
    font-size: 3rem;
    letter-spacing: 2px;
    margin-top: 1.5rem;
    color: orange;
    @include mobile {
      margin-top: 1rem;
      font-size: 2.5rem;
    }
  }

  .slidingSkills {
    padding: 1.4rem 5rem 1.4rem 5rem;
    font-size: 1.5rem;
    white-space: nowrap;
    letter-spacing: 6px;
    font-weight: 600;
    @include mobile {
      font-size: 1.5rem;
      letter-spacing: 3px;
    }
  }

  .slidingTextContainer {
    white-space: nowrap;
    font-weight: bold;

    img {
      width: 100px;
      padding: 0 1rem;
      @include mobile {
        width: 100px;
      }
    }
  }

  .about-des {
    width: 95%;
    background-color: #0b1032;
    padding: 2rem;
    border-radius: 6px;
    @include mobile {
      width: 100%;
      border-radius: 0;
    }
    h1 {
      color: #ffffff;
      font-size: 16px;
      line-height: 2;
      text-align: justify;
      font-weight: 600;
      @include mobile {
        font-size: 12px;
      }
    }
    p {
      padding: 1rem 1rem 0rem 1rem;
      font-weight: 900;
      span {
        color: orange;
      }
    }
  }
}
